* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Iceland";
    font-style: normal;
    font-weight: 400;
    src: local('Iceland'), local('Iceland-Regular'), url(http://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff) format('woff');
}
body {
    background-color: #222;
}
.flag {
    width: 50rem;
    height: 25rem;
    border: solid 1px #000;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 
        4px 8px 16px 0,
        inset 0 8rem 0 blue,
        inset 0 8.5rem 0 red,
        inset 0 16.5rem 0 white,
        inset 0 17rem 0 red,
        inset 0 25rem 0 green;
    padding: 0.5rem 4rem;
}
.flag::before {
    content: " ";
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: absolute;
    box-shadow: inset 0.8rem 0.1rem white;
}
.flag::after {
    content: "\2605";
    position: absolute;
    color: white;
    font-size: 1.8rem;
    line-height: 100%;
    top: 5.9rem;
    left: 9rem;
    text-shadow: 
        2.5rem 0 0,
        5rem 0 0,
        7.5rem 0 0,
        10rem 0 0,
        2.5rem -2.8rem 0,
        5rem -2.8rem 0,
        7.5rem -2.8rem 0,
        10rem -2.8rem 0,
        5rem -5.6rem 0,
        7.5rem -5.6rem 0,
        10rem -5.6rem 0;
}
p {
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    margin: 20px -10px -20px 0px;
}
a {
    text-decoration: none;
    transition: all 0.5s;
}
p a {
    font-size: 1.5rem;
    color: #228dff;
    font-family: Iceland;
}
p:hover {
    color: #fff;
    animation: animationuz ease-in-out infinite alternate;
}
@keyframes animationuz {
    from {
        text-shadow: 
            0 0 10px #fff,
            0 0 20px #fff,
            0 0 30px #fff,
            0 0 40px #228dff,
            0 0 70px #228dff,
            0 0 80px #228dff,
            0 0 100px #228dff,
            0 0 150px #228dff;
    }
}